Student-assignment-remainder.json
{
  "name": "Student-assignment-remainder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d163521a-8ead-40bb-9fa6-4287e538626c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wSnrjk4Agd9tZ5DC1xXO4msvonQYDWdkNCXICWaF4pE",
          "mode": "list",
          "cachedResultName": "Sheet ass",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSnrjk4Agd9tZ5DC1xXO4msvonQYDWdkNCXICWaF4pE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSnrjk4Agd9tZ5DC1xXO4msvonQYDWdkNCXICWaF4pE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "a3a2689a-d26f-48db-8363-836f38c46d7d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K9fbn53x0qEZMM2C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0f785c9-a36a-47ab-99cc-e9f4bb359abe",
              "leftValue": "={{$json[\"DueDate\"]}}",
              "rightValue": "={{$now.plus({days:1}).toFormat(\"yyyy-MM-dd\")}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "61bc89ff-ed37-4f8c-ba5d-7d881071d7bf",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"Email\"]}}",
        "subject": "Assignment Reminder",
        "message": "=Hello {{$json[\"Name\"]}},<br><br>  This is a reminder that your assignment:<br><br>  <b>{{$json[\"Assignment\"]}}</b><br><br>  is due on <b>{{$json[\"DueDate\"]}}</b>.<br><br>  Please submit it before the deadline.<br><br>  Best Regards,<br> Course Instructor",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        -96
      ],
      "id": "8f7c1d15-d518-4a10-b853-b16926a3976b",
      "name": "Send a message",
      "webhookId": "0d62c513-5ea2-4218-a9d6-dabf3a5d8552",
      "credentials": {
        "gmailOAuth2": {
          "id": "EJvEblokDtlywTK6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wSnrjk4Agd9tZ5DC1xXO4msvonQYDWdkNCXICWaF4pE",
          "mode": "list",
          "cachedResultName": "Sheet ass",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSnrjk4Agd9tZ5DC1xXO4msvonQYDWdkNCXICWaF4pE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wSnrjk4Agd9tZ5DC1xXO4msvonQYDWdkNCXICWaF4pE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ReminderSent": "yes",
            "Email": "={{$node[\"Get row(s) in sheet\"].json[\"Email\"]}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignment",
              "displayName": "Assignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DueDate",
              "displayName": "DueDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReminderSent",
              "displayName": "ReminderSent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -96
      ],
      "id": "fc363102-dcab-4dab-9e73-ede132897ccd",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K9fbn53x0qEZMM2C",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d7c776bd-f768-4317-9599-398a7232d655",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2df05e19f3eaf7174b5855910848795b7926e152643a636c72172fc31d919328"
  },
  "id": "q6Xa5hOKXUL557Kvd2LGK",
  "tags": []
}